<!DOCTYPE html>
<html>
  <head>
    <title>Postgis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          </button> <a href="/" class="navbar-brand">PostGIS</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Index</a></li>
            <li><a href="<%= new_location_path %>">New Location</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="white-box">
      <%= yield %>
    </div>

  </body>
</html>
